.recruiter-dashboard {
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px;
}

/* Main Layout */
.analytics-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

/* Cards Grid */
.recruiter-cards {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  gap: 30px;
}

/* Card Style */
.recruiter-card {
  padding: 25px;
  border-radius: 20px;
  color: white;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}

.recruiter-card:hover {
  transform: translateY(-8px);
}

.recruiter-card h3 {
  font-size: 14px;
  opacity: 0.9;
}

.recruiter-card h2 {
  margin-top: 12px;
  font-size: 28px;
}

/* Chart Container */
.chart-box {
  width: 380px;
  height: 380px;
  background: #ffffff;
  border-radius: 25px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

/* Different colors */
.total { background: linear-gradient(135deg, #667eea, #764ba2); }
.apps { background: linear-gradient(135deg, #11998e, #38ef7d); }
.short { background: linear-gradient(135deg, #00b09b, #96c93d); }
.reject { background: linear-gradient(135deg, #ff416c, #ff4b2b); }
.pending { background: linear-gradient(135deg, #f7971e, #ffd200); }

.form-section {
  background: white;
  padding: 30px;
  margin-top: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.form-section h2 {
  margin-bottom: 20px;
}

.form-section input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  transition: 0.3s;
}

.form-section input:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.15);
  outline: none;
}

.form-section button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.form-section button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.top-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.dashboard-title {
  font-size: 32px;
  font-weight: 600;
  color: black;
  text-align:center;
}

.logout-btn {
  position: absolute;
  right: 20px;
  top: 0;
  padding: 8px 20px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(135deg, #ff4b2b, #ff416c);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  transform: scale(1.08);
}

.new-badge {
    background: red;
    color: white;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    margin-left: 10px;
}

.notification-bell {
  position: relative;
  cursor: pointer;
  font-size: 22px;
}

.notification-dropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  width: 180px;
  z-index: 100;
}